#board-container {
  text-align: center;
}

.grid {
  padding: 1px 0; /* prevents vertical scrollbar */
  overflow-x: auto;
  margin-bottom: 10px;
}

.row {
  height: 30px;
  white-space: nowrap;
  overflow: visible;
}

.row:last-child .square {
  border-bottom: 1px solid black;
}

.square {
  vertical-align: top;
  margin-left: -6px;
  display: inline-block;
  height: 100%;
  width: 30px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  font-size: 1.75em;
}

.square:first-child {
  margin: 0;
}

.square:last-child {
  border-right: 1px solid black;
}

.square.light {
  background-color: whitesmoke;
}

.square.dark {
  background-color: gray;
}
