* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background: linear-gradient(to right bottom, hsla(220, 40%, 50%, 1), hsla(220, 40%, 80%, 1), hsla(220, 40%, 50%, 1));
  height: 100%;
  padding: 30px 10% 10%;
  min-height: 100%;
}

header {
  border: 1px solid black;
}

nav:after {
  clear: left;
  content: " ";
  display: block;
}

nav a {
  background: linear-gradient(to bottom, hsla(220, 90%, 40%, 1), hsla(220, 90%, 70%, 1) 40%, hsla(220, 90%, 35%, 1));
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

a div {
  padding: 10px;
}

@media (max-width: 450px) {
  nav a {
    float: none;
    display: block;
  }
  nav a:nth-child(n+2) {
    border-top: 1px solid black;
  }
}

@media (min-width: 451px) {
  nav a {
    float: left;
    width: 25%;
  }
  nav a:nth-child(n+2) {
    border-left: 1px solid black;
  }
}

#content {
  background-color: white;
  padding: 5.0% 5.0% 0 5.0%;
  border: 1px solid black;
  border-top: none;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h1, h2, h3 {
  font-weight: bold;
  text-align: center;
}

h1, h2, h3, form, p, .controls {
  margin-bottom: 20px;
}

input[type="number"] {
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 100%;
}

form, .controls {
  text-align: center;
}

button {
  background: linear-gradient(hsla(220, 40%, 50%, 1), hsla(220, 40%, 80%, 1) 40%, hsla(220, 40%, 50%, 1));
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

#solutions-info {
  margin-bottom: 5px;
}

#spinner {
  height: 4px;
  margin-bottom: 10px;
  display: inline-block;
}

.loading {
  width: 70%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loading:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% {left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
