* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h1, h2, h3 {
  margin: 20px;
  font-weight: bold;
}

form, p {
  margin: 1em;
}

nav, form {
  text-align: center;
}

#spinner {
  opacity: 0;
  margin: 0;
  font-size: 2em;
}

.disabled, .disabled:hover {
  color: #BBB;
  background-color: lightgray;
  border-width: 1px;
}
