{% extends "layout.html" %}
{% block stylesheet %}"../static/css/chess.css"{% endblock %}
{% block title %}N Queens Puzzle{% endblock %}

{% block content %}
  <h1>N Queens Puzzle</h1>
  <div id="board-container">
    {% include 'n_queens_container.html' %}
  </div>
  <div id="spinner"><span>...</span></div>
  <nav>
    <button id="prev" disabled=true>&lt;&lt;</button>
    <button id="next" disabled=true>&gt;&gt;</button>
  </nav>
  <form action="/n_queens" method="get">
    <input type="number" name="n" value={{n}}>
    <button>Set board size</button>
  </form>
{% endblock %}
{% block scripts %}
  <script>var solutions = {{ solutions|tojson }};</script>
  <script type="text/javascript" src="../static/js/n_queens.js"></script>
{% endblock %}
