{% extends "layout.html" %}
{% block stylesheet %}"../static/css/chess.css"{% endblock %}
{% block title %}N Queens Puzzle{% endblock %}

{% block content %}
  {% include 'n_queens_container.html' %}
  <div id="spinner">...</div>
  <nav>
    <button id="prev" class='disabled'>&lt;&lt;</button>
    <button id="next" class='disabled'>&gt;&gt;</button>
  </nav>
  <form action="/n_queens" method="get">
    <input type="number" name="n" value={{n}}>
    <input type="submit" name="submit" value="Set board size">
  </form>
{% endblock %}
{% block scripts %}
  <script>var solutions = {{ solutions|tojson }};</script>
  <script type="text/javascript" src="../static/js/n_queens.js"></script>
{% endblock %}
